body {
  background-color: #eefaa8;
  font-family: 'Rajdhani', sans-serif;
  margin: 0 auto;
  width: 80%;
}

header {
  background-color: #649ea7;
  text-align: center;
  border: 1px solid #000000;
}
