img{
    width: 700px;
}

/*quando a largura da tela for 300px, as imagens terão uma legenda de 100px */
/*enquanto a largura minima for de 450px a largura das imagens serão de 200px 
min-width / max-width*/

@media (max-width: 450px){

}

    body{
        background-color: aqua;
    }
    
    img{
        width:200px;
    }

    img :hover{
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 10px 10px 10px; 
    }

    @media(min-width: 1100px) {
        }
        body{
            background-color: rgb (212), (185), (196);    
        }

        img{
            width: 160px;
        }
        img :hover{
            border: 2px solid black;
            border-radius: 4px;
            box-shadow: 15px 15px 15px;
        }

    

